RewriteEngine On
RewriteRule ^video/?$ /view/video/
RewriteRule ^playlist/?$ /view/playlist/
RewriteRule ^user/?$ /view/user/
RewriteRule ^login/?$ /view/login/
RewriteRule ^upload/?$ /view/upload/
RewriteRule ^search/?$ /view/search/
RewriteRule ^logout/?$ /php/logout.php
RewriteRule ^/?$ /view/home/index.php
RewriteRule ^error/?$ /view/error/
RewriteRule ^error/?$ /view/error/index.php
