<!DOCTYPE html>
<html lang="en">
    
    {% block head %} 
        {% include "_head.html" with { title: block('title') } %}
    {% endblock %}


<body> <!-- style="font-family: sans-serif; "> -->

    {% block nav %} 
        {% include "_nav.html" %}
    {% endblock %}


    {% block content %}

        <p> !!! PAGE CONTENT INSERTED HERE !!! </p>
        
    {% endblock %}


    {% block footer %}
    <footer>
        <p>© UrgeWWW 2018</p>
    </footer>
    {% endblock %}

</body>

<!-- Bootstrap JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/vendor/twbs/bootstrap/dist/js/bootstrap.js"></script>

</html>