{% extends "_base.html" %}
{% block title %} Home {% endblock %}
{% block content %}

<!-- Main jumbotron -->
<div class="jumbotron">
    <div class="container">

        {% if admin %}
        <h4>Admin view</h4>
        <hr>
            {% if wannabeUsers is empty %}
            <p>Nothing new here.</p>
           
            {% else %}

            <h5>Wannabe's</h5>
            {% for _user in wannabeUsers %}
            <div class="row">
                <div class="col-md-2">
                    <p>{{ _user['email'] }}</p>
                </div>
                <div class="row col-md-6">
                    <div class="col-1">
                        <form action="/php/wannabe.php" method="post" class="form-group">
                            <button type="submit" name="yes" value="{{ _user['id'] }}" class="btn btn-success btn-sm">Yai!</button>
                        </form>
                    </div>
                    <div class="col-1">
                        <form action="/php/wannabe.php" method="post" class="form-group">
                            <button type="submit" name="no" value="{{ _user['id'] }}" class="btn btn-danger btn-sm">Nej!</button>
                        </form>
                    </div>
                    <!-- Empty div for spacing -->
                    <div class="col-1"></div>

                    <div class="col-2">
                        <form action="/php/wannabe.php" method="post" class="form-group">
                            <button type="submit" name="admin" value="{{ _user['id'] }}" class="btn btn-warning btn-sm">Admin!</button>
                        </form>
                    </div>
                </div>

            </div>
            {% endfor %}
            {% endif %}
        <hr>
        {% endif %}
       
        {% if not userid %}
        
        <h1>Register now!</h1>
        <p>Smash this button and get to it.</p>
        <p><a class="btn btn-success btn-lg" href="/login" role="button">Register »</a></p> 
        
        {% else %}
        
        <h1>Your Subscriptions</h1>
        <div class="row my-md-1">
            <div class="col-md-2">
                <h2 class="lead text-limit">1234567890123456789012345678901234567890</h2>
                <a href="/video"><img src="/thumbnail/test.jpg" class="img-thumbnail border-success"></a>
            </div>
            <div class="col-md-2">
                <h2 class="lead text-limit">Video 2</h2>
                <a href="/video"> <img src="/thumbnail/test.jpg" class="img-thumbnail border-success"></a>
            </div>
            <div class="col-md-2">
                <h2 class="lead text-limit">Video 3</h2>
                <a href="/video"> <img src="/thumbnail/test.jpg" class="img-thumbnail border-success"></a>
            </div>
            <div class="col-md-2">
                <h2 class="lead text-limit">Video 4</h2>
                <a href="/video"> <img src="/thumbnail/test.jpg" class="img-thumbnail border-success"></a>
            </div>
            <div class="col-md-2">
                <h2 class="lead text-limit">Video 5</h2>
                <a href="/video"> <img src="/thumbnail/test.jpg" class="img-thumbnail border-success"></a>
            </div>
            <div class="col-md-2">
                <h2 class="lead text-limit">Video 6</h2>
                <a href="/video"> <img src="/thumbnail/test.jpg" class="img-thumbnail border-success"></a>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="container">

    <div class="col-12 ml-lg-0">
        <h1 class="display-4">New Videos</h1>
    </div>

    <!-- Example row of columns -->
    <div class="row my-md-1">
        {% if newVideos is empty %}
        <div class="col-md-4">
            <h2 class="other-title">No videos available.</h2>
        </div>
        {% else %}
        {% for video in newVideos %}
        <div class="col-md-4">
            <h2 class="lead text-limit">{{ video['name'] }}</h2>
            <a href="/video?id={{ video['id'] }}"><img src="/thumbnail/test.jpg" class="img-thumbnail border-success"></a>
        </div>
        {% endfor %}
        {% endif %}
    </div>

</div> <!-- /container -->
{% endblock content %}
