{% extends "_base.html" %}
{% block title %} Home {% endblock %}
{% block content %}

<!-- Main jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1>Holy fucking shit you need to register mate!</h1>
        <p>Smash this button and get to it.</p>
        <p><a class="btn btn-success btn-lg" href="/login" role="button">Register »</a></p>
    </div>
</div>

<div class="container">

    <div class="col-12 ml-lg-0">
        <h1 class="display-4">New Videos</h1>
    </div>

    <!-- Example row of columns -->
    <div class="row my-md-1">
        <div class="col-md-4">
            <h2 class="lead text-limit">1234567890123456789012345678901234567890</h2>
            <a href="/video"><img src="/thumbnail/test.jpg" class="img-thumbnail border-success"></a>
        </div>
        <div class="col-md-4">
            <h2 class="lead text-limit">Video 2</h2>
           <a href="/video"> <img src="/thumbnail/test.jpg" class="img-thumbnail border-success"></a>
        </div>
        <div class="col-md-4">
            <h2 class="lead text-limit">Video 3</h2>
           <a href="/video"> <img src="/thumbnail/test.jpg" class="img-thumbnail border-success"></a>
        </div>
        <div class="col-md-4">
            <h2 class="lead text-limit">Video 4</h2>
           <a href="/video"> <img src="/thumbnail/test.jpg" class="img-thumbnail border-success"></a>
        </div>
        <div class="col-md-4">
            <h2 class="lead text-limit">Video 5</h2>
           <a href="/video"> <img src="/thumbnail/test.jpg" class="img-thumbnail border-success"></a>
        </div>
        <div class="col-md-4">
            <h2 class="lead text-limit">Video 6</h2>
           <a href="/video"> <img src="/thumbnail/test.jpg" class="img-thumbnail border-success"></a>
        </div>
    </div>

</div> <!-- /container -->
{% endblock content %}