{% extends "_base.html" %}
{% block title %} Login {% endblock %}
{% block content %}

<body style="padding-top: 40px; padding-bottom: 40px;
    background: #3a6186; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1C1F4F , #134D36); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1C1F4F , #134D36);">


<div class="text-center text-white">
    <h1 class="display-2"><span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"><a class="text-white link-line-none" href="/">#MeToobe</a></span></h1>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12 form-line">
            <form action="/php/userLogin.php" method="post" id="signInUser" class="form-signin form-group">
                <h2 class="form-signin-heading text-white">Sign in</h2>
                {% if  email %}
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required value="{{ email }}"   >
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus="" >
                <div class="checkbox">
                  <label class="text-white">
                    <input type="checkbox" name="rememberMe" value="yes" checked /> Remember email
                  </label>
                </div>
                {% else %}
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus="" value="{{ email }}"   >
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required >
                <div class="checkbox">
                  <label class="text-white">
                    <input type="checkbox" name="rememberMe" value="yes"/> Remember email
                  </label>
                </div>
                {% endif %}
                <button class="btn btn-default bg-transparent btn-block border border-white text-white" type="submit">Sign in</button>
            </form>
        </div>

        <div class="col-md-6 col-sm-12">
            <form action="/php/userRegister.php" method="post" id="registerUser" class="form-signin form-group">
                <h2 class="form-signin-heading text-white">Register</h2>
                <input type="text" name="newname" id="registerUsername" class="form-control" placeholder="Full name" required="" autofocus=""><br>
                <input type="email" name="newemail" id="registerEmail" class="form-control" placeholder="Email address" required="">
                <input type="password" name="newpassword" id="registerPassword" class="form-control" placeholder="Password" required="">
                <div class="checkbox">
                    <label class="text-white">
                        <input type="checkbox" name="isTeacher" value="yes"/ > I am a teacher
                    </label>
                </div>
                <button class="btn btn-default bg-transparent btn-block border border-white text-white" type="submit">Register</button>
            </form>

        </div>
    </div>
</div>
</body>
 <!-- /container -->

{% endblock content %}

{% block nav %} <!-- <nav> disabled --> {% endblock %}
{% block footer %} <!-- <footer> disabled --> {% endblock %}
