{% extends "_base.html" %}
{% block title %} Playlist {% endblock %}
{% block content %}

<div class="container-fluid border-top" style="margin-bottom: 10px;"></div>
<div class="container">

    
    {% if createMode %}
    <form id="createPlaylist" method="post" action="/php/playlistCreate.php" />
    {% elseif editMode %}
    <form id="updatePlaylist" method="post"  action="/php/playlistUpdate.php" />
    {% endif %}

        <p style="color: #aaaaaa;"> {{ playlist.id }} </p>
        <input type="text" class="form-control" id="playlist-title" name="playlist-title" value="{{ playlist.title }}"  placeholder="{% if not createMode %}{{ playlist.title }}{% else %}Playlist Title{% endif %}" required {% if not createMode and not editMode %} readonly {% endif %}><br>
        <textarea type="text" class="form-control" rows="4" id="playlist-description" placeholder="Playlist Description" name="playlist-description" {% if not createMode and not editMode %} readonly {% endif %}>{{ playlist.description }}</textarea>

            
        {% for video in videos %}


        <hr>
        <div class="col">
            <span> {{ video.rank + 1 }}</span>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="/video?id={{ video.id }}"><img src="/thumbnail/test.jpg" class="img-thumbnail border-success"></a>
            </div>
            <div class="col-md-8">
                <div class="col-md-8">
                    <h2 class="lead text">{{ video.name }}</h2>
                </div>
                <hr>
                <div class="col-md-8" style="word-break: break-all; word-wrap: break-word;">
                    <p>{{ video.description }}</p>
                </div>
            </div>
            {% if editMode %}
            <div class="col-md-1 text-center">
                <div style="margin-bottom: 1px; margin-top: 10%;">
                    <form action="" method="POST">
                        <button type="submit" name="up" value="up" class="btn btn-secondary btn-sm">
                            <img src="/icon/arrow-up.png" aria-hidden="true">
                        </button>
                    </form>
                </div>
                <div style="margin-bottom: 1px;">
                    <form action="/php/playlistRemoveVideo.php" id="removeVideo" method="POST">
                        <input type="hidden" name="playlist-id" value="{{ playlist.id }}"/>
                        <input type="hidden" name="video-id" value="{{ video.id }}"/>
                        <input type="hidden" name="video-rank" value="{{ video.rank }}"/>
                        <button size="100px" type="submit" name="up" value="up" class="btn btn-danger text-white" form="removeVideo">
                            X
                        </button>
                    </form>
                </div>
                <div>
                    <form action="" method="POST">
                        <button type="submit" name="down" value="down" class="button btn btn-secondary btn-sm">
                            <img src="/icon/arrow-down.png" aria-hidden="true">
                        </button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>


        {% endfor %}


    <!--
        {% if editMode %}
            <br>
            <div class="border border-danger">
                <h1>Does not work yet.</h1>
                <label for="playlist-video-swap-1">Swap: </label>
                <input type="text" class="form-control col-md-2" id="playlist-video-swap-1"/>
                <label for="playlist-video-swap-2">To:</label>
                <input type="text" class="form-control col-md-2" id="playlist-video-swap-2"/><br>
            </div>
        {% endif %}
    -->
        <br>
        <!-- need the playlist id when updating the site, thus hidden. -->
        <input type="hidden" name="playlist-id" value="{{ playlist.id }}"/>
        {% if createMode %}
        <input type="submit" class="btn btn-success" value="Create" form="createPlaylist" />
        {% elseif editMode %}
        <div class="row">
            <div class="col col-md-1">
                <input type="submit" class="btn btn-success" value="Update" form="updatePlaylist" />
            </div>
            <div class="col col-md-1">
                <input type="submit" class="btn btn-danger" value="Delete" formaction="/php/playlistDelete.php"/>
            </div>
        </div>

        {% endif %}

</div>

{% endblock content %}