{% extends "_base.html" %}
{% block title %} Playlist {% endblock %}
{% block content %}

<div class="container">

    
    <form {% if newPlaylist %} action="/php/playlistCreate.php" {% else %} action="/php/playlistUpdate.php" {% endif %}/>        
    
        <input id="playlist-title" placeholder="Playlist Title" required {% if not editMode %} readonly {% endif %}/><br>
        <input id="playlist-description" placeholder="Description" required {% if not editMode %} readonly {% endif %}/><br>

        
        {# % for video in videos % #}
        

        <div class="col-md-2">
            <span> 1</span>
            <h2 class="lead text-limit">1234567890123456789012345678901234567890</h2>
            <a href="/video"><img src="/thumbnail/test.jpg" class="img-thumbnail border-success"></a>
        </div><br>

        <div class="col-md-2">
            <span> 2</span>
            <h2 class="lead text-limit">1234567890123456789012345678901234567890</h2>
                <a href="/video"><img src="/thumbnail/test.jpg" class="img-thumbnail border-success"></a>
            </div><br>

        <div class="col-md-2">
                <span> 3</span>
                <h2 class="lead text-limit">1234567890123456789012345678901234567890</h2>
                <a href="/video"><img src="/thumbnail/test.jpg" class="img-thumbnail border-success"></a>
        </div><br>

        {# % endfor % #}

        {% if editmode %}
            

            <label for="playlist-video-rank">Swap: </label>
            <input id="playlist-video-swap-1"/>
            <label for="playlist-video-rank">To:</label>
            <input id="playlist-video-swap-1"/><br>
        {% endif %}
        
        <input type="submit" id="playlist-video-swap-1" class="btn btn-success" {% if newPlaylist %} value="Create" {% else %} value="Update" {% endif %}/>                
    </form>
</div>
{% endblock content %}