{% extends "_base.html" %}
{% block title %} Playlist {% endblock %}
{% block content %}

<div class="container">

    
    <form {% if newPlaylist %} action="/php/playlistCreate.php" {% else %} action="/php/playlistUpdate.php" {% endif %}/>        
    
        <input type="text" class="form-control" id="playlist-title" placeholder="Playlist Title" required {% if not editMode %} readonly {% endif %}/><br>
        <textarea type="text" class="form-control" rows="5" id="playlist-description" placeholder="Playlist Description" name="comment" {% if not editMode %} readonly {% endif %}></textarea>

        
        {# % for video in videos % #}


    <hr>
    <div class="col">
        <span> 1</span>
        <h2 class="lead text">1234567890123456789012345678901234567890</h2>
    </div>
    <div class="row">
        <div class="col">
            <a href="/video"><img src="/thumbnail/test.jpg" class="img-thumbnail border-success"></a>
        </div>
        <div class="col-md-8" style="word-break: break-all; word-wrap: break-word;">
            <p>DescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescription</p>
        </div>
    </div>



        {# % endfor % #}



        {% if editmode %}
            

            <label for="playlist-video-rank">Swap: </label>
            <input id="playlist-video-swap-1"/>
            <label for="playlist-video-rank">To:</label>
            <input id="playlist-video-swap-1"/><br>
        {% endif %}

    <br>
        <input type="submit" id="playlist-video-swap-1" class="btn btn-success" {% if newPlaylist %} value="Create" {% else %} value="Update" {% endif %}/>                
    </form>
</div>

{% endblock content %}