{% extends "_base.html" %}
{% block title %} User {% endblock %}
{% block content %}

<div class="container-fluid border-top">
    <div class="row">
        <!-- LEFT -->
        <div class="col-md-4 border-right" style="margin-top:0px;">
            <div style="margin-top: 10px;"></div>

            <h2 class="other-title text-dark text-center">Account</h2>
            <h2 class="text-center">{{ userStats['fullname']|capitalize }}</h2>
            <p class="text-center">{{ userStats['email'] }}</p>
            <h5 class="">Stats:</h5>
            <p>Views: 1500000000</p>
            <p>Likes: 152512</p>
            <p>Dislikes: 2.5</p>
            <p>Comments: 1512</p>



        </div>

        <!-- MIDDLE -->
        <div class="col-md-4 border-right" align="center">
            <div style="margin-top: 10px;"></div>

            <h2 class="other-title text-success text-center">Videos</h2>


            {% if userVideos is empty %}
            <div class="col-md-4">
                <p>No videos found.</p>
            </div>
            {% else %}
            {% for video in userVideos %}
            <div class="col-md-8">
                <h2 class="lead text-limit">{{ video['name'] }}</h2>
                <a href="/video?id={{ video['id'] }}">
                    {% include "_thumbnail.html" with { thumbnail: video['thumbnail'] } %}
                </a>
            </div>
            <br>
            {% endfor %}
            {% endif %}



        </div>

        <!-- RIGHT -->
        <div class="col-md-4" align="center">
            <div style="margin-top: 10px;"></div>

            <h2 class="other-title text-info text-center">Playlists</h2>

            {% if userPlaylists is empty %}
            <div class="col-md-4">
                <p>No playlists found.</p>
            </div>
            {% else %}
            {% for playlist in userPlaylists %}
            <div id="playlistInfo" class="col-md-8">
                <h2 class="lead text-limit">{{ playlist['title'] }}</h2>
                <a href="/playlist?id={{ playlist['id'] }}">
                    {% include "_thumbnail.html" with { thumbnail: playlist['thumbnail'] } %}
                </a>
            </div>
            <br>
            {% endfor %}
            {% endif %}



        </div>
    </div>
    {% if owner %}
    <div class="col-md-4">
        <form id="deleteUser" action="/php/userDelete.php" method="post">
            <div class="checkbox">
                <label class="text-dark">
                    <input id="areUsure" type="checkbox" name="isTeacher" value="yes" required > I am sure, I want to delete my account.
                </label>
            </div>
            <button type="submit" class="btn btn-danger btn-lg btn-block">DELETE</button>
        </form>
    </div>
    {% endif %}

</div>

{% endblock content %}
