{% extends "_base.html" %}
{% block title %} Video {% endblock %}
{% block content %}

<!-- Main jumbotron -->
<div class="jumbotron" id="jumbo">
    <div class="container">
        <div class="col-12 ml-lg-0">
            <h2 class="other-title">{{ videoData['name'] }}</h2>
        </div>

        <!-- VIDEO CONTAINER -->
        <video width="100%" height="100%" controls>
            {% if videoData['mime'] %}
            <source src="/uploadedFiles/{{ videoData['userid'] }}/{{ videoData['id'] }}{% if videoData['mime']=='video/mp4' %}.mp4{% elseif videoData['mime']=='video/webm' %}.webm{% elseif videoData['mime']=='video/ogg' %}.ogg{% endif %}" type="{{ videoData['mime'] }}">
            {% else %} 
            <source src="thumbnail/default.mp4" type="video/mp4">
            {% endif %}

        </video>

        <div class="row col-md-12">
            {% if loggedin == 'yes' %}
            <div class="col-md-3">
                <p class="other-title">{{ videoData['fullname'] }}</p>
            </div>
            <div class="row col-md-4">
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add to playlist
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% for playlist in userPlaylists %}
                            <a class="dropdown-item" href="/php/playlistAdd.php?playlistid={{ playlist['id'] }}&videoid={{ videoData['id'] }}">{{ playlist['title'] }}</a>
                        {% endfor %}
                            <a class="dropdown-item" style="background-color: #cccccc" href="/php/playlistCreate.php?playlist-title=Title&playlist-description=Description&video-id={{ videoData['id'] }}">Create new playlist</a>
                    </div>
                </div>
                <div style="margin-left: 1px;">
                    <form action="/php/videoDelete.php?videoid={{ videoData['id'] }}" method="POST">
                        <button type="submit" name="delete" value="delete" class="button btn btn-danger">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
            {% else %}
            <div class="col-md-7">
                <p class="other-title">{{ videoData['fullname'] }}</p>
            </div>
            {% endif %}
            <div class="row col-md-2">
                <p class="other-title">Views:</p>
                <p class="other-title text-dark">{{ videoData['views'] }}</p>
            </div>
            <div class="row col-md-3 justify-content-end">
                <div>
                    <p class="other-title text-success">{{ likes }}</p>
                </div>
                <div class="col-1"></div>
                <div>
                    {% if hasLiked %}
                    <form action="/php/videoVote.php?videoid={{ videoData['id'] }}" method="POST">
                        <button type="submit" name="revote" value="up" class="btn btn-success btn-sm">
                            <img src="/icon/arrow-up.png" aria-hidden="true">
                        </button>
                    </form>
                    {% else %} 
                    <form action="/php/videoVote.php?videoid={{ videoData['id'] }}" method="POST">
                        <button type="submit" name="upvote" value="upvote" class="btn btn-success btn-sm">
                            <img src="/icon/arrow-up.png" aria-hidden="true">
                        </button>
                    </form>
                    {% endif %}
                </div>

                <div>
                    {% if hasLiked==true %}
                    <form action="/php/videoVote.php?videoid={{ videoData['id'] }}" method="POST">
                        <button type="submit" name="revote" value="down" class="button btn btn-danger btn-sm">
                            <img src="/icon/arrow-down.png" aria-hidden="true">
                        </button>
                    </form>
                    {% else %}
                    <form action="/php/videoVote.php?videoid={{ videoData['id'] }}" method="POST">
                        <button type="submit" name="downvote" value="downvote" class="button btn btn-danger btn-sm">
                            <img src="/icon/arrow-down.png" aria-hidden="true">
                        </button>
                    </form>
                    {% endif %}
                </div>
                <div class="col-1"></div>
                <div>
                    <p class="other-title text-danger">{{ dislikes }}  </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="col-md-12 ">
            <h2 class="other-title">Description</h2>

            <p>{{ videoData['description'] }}</p>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-9 col-xs-12">
            <div class="col-12 ml-lg-0">
                <h1 class="display-4">Comments</h1>
            </div>
            {% if loggedin=='yes' %}
            <form class="comment-submit" action="/php/commentPost.php?videoid={{ videoData['id'] }}" method="post">
                <div class="form-group">
                  <label for="textarea-comment">Comment:</label>
                  <textarea class="form-control" rows="5" id="textarea-comment" name="comment"></textarea>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
            {% endif %}
            <br>
            <br>

            {# If there are no comments, we display an error message to the user. #}
            {% if comments == null %}
            <div class="comment">
                <p class="comment-name">Thats a shame....</p>
                <p class="comment-text">No comment found for this video...</p>
            </div>

            {# else, we want to loop through each comment and display them on the screen. #}
            {% else %}
                {% for commentdata in comments %}
                <div class="comment">
                    <p class="comment-name">{{ commentdata.fullname }}</p>
                    <div class="row col">
                        <p class="comment-text col-11">{{ commentdata.comment }}</p>
                        {% if commentdata.userid==userid %}
                        <div class="col-1">
                            <form action="/php/commentDelete.php?videoid={{ videoData['id'] }}" method="post">
                                <button type="submit" name="commentid" value="{{ commentdata.id }}" class="btn btn-danger">X</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                    <p class="comment-time" style="font-size: 10px; color: grey;">{{ commentdata.time }}</p>
                </div>
                {% endfor %}
            {% endif %}


        </div>
        <div class="col-md-3 col-xs-12">
            <div class="col-12 ml-lg-0">
                <h2 class="other-title">Other videos</h2>
            </div>
            <!-- Example row of columns -->
            <div class="row my-md-1">
                <div class="col-md-12">
                    <h2 class="lead text-limit">1234567890123456789012345678901234567890</h2>
                    <a href="/video"><img src="/thumbnail/test.jpg" class="img-thumbnail border-success"></a>
                </div>
                <div class="col-md-12">
                    <h2 class="lead text-limit">Video 2</h2>
                    <a href="/video"><img src="/thumbnail/test.jpg" class="img-thumbnail border-success"></a>
                </div>
                <div class="col-md-12">
                    <h2 class="lead text-limit">Video 3</h2>
                    <a href="/video"><img src="/thumbnail/test.jpg" class="img-thumbnail border-success"></a>
                </div>
            </div>
        </div>
    </div>

</div> <!-- /container -->
{% endblock content %}
