{% extends "_base.html" %}
{% block title %} Video {% endblock %}
{% block content %}

<!-- Main jumbotron -->
<div class="jumbotron" id="jumbo">
    <div class="container">
        <div class="col-12 ml-lg-0">
            <h2 class="other-title">{{ videoData['name'] }}</h2>
        </div>

        <!-- VIDEO CONTAINER -->
        <video width="100%" height="100%" controls autoplay>
            <source src="/uploadedFiles/{{ videoData['user'] }}/{{ videoData['videoid'] }}{% if videoData['mime']=='video/mp4' %}.mp4{% elseif videoData['mime']=='video/webm' %}.webm{% elseif videoData['mime']=='video/ogg' %}.ogg{% endif %}" type="{{ videoData['mime'] }}">
        </video>


        <div class="row col-md-12">
            <div class="row col-md-8">
                <p class="other-title">Views:</p>
                <p class="other-title text-dark">{{ videoData['views'] }}</p>
            </div>
            <div class="row col-md-4 justify-content-end">
                <div>
                    <p class="other-title text-success">{{ likes }}</p>
                </div>
                <div class="col-1"></div>
                <div>
                    {% if hasLiked==true %}
                    <form action="/video?id={{ videoData['videoid'] }}" method="post">
                        <button type="submit" name="nothing" value="nothing" class="btn btn-success btn-sm">
                            <img src="/icon/arrow-up.png" aria-hidden="true">
                        </button>
                    </form>
                    {% else %}
                    <form action="/video?id={{ videoData['videoid'] }}" method="POST">

                        <button type="submit" name="upvote" value="upvote" class="btn btn-success btn-sm">
                            <img src="/icon/arrow-up.png" aria-hidden="true">
                        </button>
                    </form>
                    {% endif %}
                </div>

                <div>
                    {% if hasLiked==true %}
                    <form action="/video?id={{ videoData['videoid'] }}" method="POST">
                        <button type="submit" name="nothing" value="nothing" class="button btn btn-danger btn-sm">
                            <img src="/icon/arrow-down.png" aria-hidden="true">
                        </button>
                    </form>
                    {% else %}
                    <form action="/video?id={{ videoData['videoid'] }}" method="POST">
                        <button type="submit" name="downvote" value="downvote" class="button btn btn-danger btn-sm">
                            <img src="/icon/arrow-down.png" aria-hidden="true">
                        </button>
                    </form>
                    {% endif %}
                </div>
                <div class="col-1"></div>
                <div>
                    <p class="other-title text-danger">{{ dislikes }}  </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="col-md-12 ">
            <h2 class="other-title">Description</h2>

            <p>{{ videoData['descr'] }}</p>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-9 col-xs-12">
            <div class="col-12 ml-lg-0">
                <h1 class="display-4">Comments</h1>
            </div>

            {# If there are no comments, we display an error message to the user. #}
            {% if comments == null %}
            <div class="comment">
                <p class="comment-name">Thats a shame....</p>
                <p class="comment-text">No comment found for this video...</p>
            </div>

            {# else, we want to loop through each comment and display them on the screen. #}
            {% else %}
                {% for commentdata in comments %}
                <div class="comment">
                    <p class="comment-name">{{ user.email }}</p>
                    <p class="comment-text">{{ commentdata.comment }}</p>
                    <p class="comment-time">{{ commentdata.time }}</p>
                </div>
                {% endfor %}
            {% endif %}


        </div>
        <div class="col-md-3 col-xs-12">
            <div class="col-12 ml-lg-0">
                <h2 class="other-title">Other videos</h2>
            </div>
            <!-- Example row of columns -->
            <div class="row my-md-1">
                <div class="col-md-12">
                    <h2 class="lead text-limit">1234567890123456789012345678901234567890</h2>
                    <a href="/video"><img src="/thumbnail/test.jpg" class="img-thumbnail border-success"></a>
                </div>
                <div class="col-md-12">
                    <h2 class="lead text-limit">Video 2</h2>
                    <a href="/video"><img src="/thumbnail/test.jpg" class="img-thumbnail border-success"></a>
                </div>
                <div class="col-md-12">
                    <h2 class="lead text-limit">Video 3</h2>
                    <a href="/video"><img src="/thumbnail/test.jpg" class="img-thumbnail border-success"></a>
                </div>
            </div>
        </div>
    </div>

</div> <!-- /container -->
{% endblock content %}