<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://v4-alpha.getbootstrap.com/favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">


</head>

<body>

<nav class="navbar navbar-inverse navbar-static-top">
    <a class="navbar-brand text-success" href="#">MeTube</a>

    <form class="mx-2 my-auto d-inline w-50">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="imt2631..">
            <span class="input-group-btn">
       <button class="btn btn-outline-success" type="button">GO</button>
       </span>
        </div>
    </form>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link text-success" href="#">example@gmail.com</a>
        </li>
    </ul>
</nav>

<!-- Main jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1>Holy fucking shit you need to register mate!</h1>
        <p>Smash this button and get to it.</p>
        <p><a class="btn btn-success btn-lg" href="#" role="button">Register »</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Video 1</h2>
            <img src="../thumbnail/test.jpg" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <h2>Video 2</h2>
            <img src="../thumbnail/test.jpg" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <h2>Video 3</h2>
            <img src="../thumbnail/test.jpg" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <h2>Video 4</h2>
            <img src="../thumbnail/test.jpg" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <h2>Video 5</h2>
            <img src="../thumbnail/test.jpg" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <h2>Video 6</h2>
            <img src="../thumbnail/test.jpg" class="img-thumbnail">
        </div>
    </div>

    <hr>

    <footer>
        <p>© UrgeWWW 2017</p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>


</body>
</html>